%li.game{ id: game.name.parameterize }
  .row.vertical-middle
    .col-md-4
      %p.gametitle= link_to game.name, game
    .col-md-8
      %p.gamedetails
        %b Developer
        %span= game.developer
        %b Publisher
        %span= game.publisher
        %b Released
        %span= game.release.to_formatted_s(:long)
        %b Platforms
        %span= game.platforms.map(&:name).join(' | ')
