%header.navbar.navbar-fixed-top.navbar-inverse.bg-inverse.text-white
  .container
    = link_to 'Dag Motorsports', root_path, id: 'logo'
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Home', root_path
        %li= link_to 'Help', '#'
        %li= link_to 'Games', games_path
        %li= link_to 'Log in', '#'